* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.nav-list {
    display: flex;
    margin-right: 24px;

}

.card-link {
    text-decoration: none;
    color: #4b90e2;
    margin-left: 24px;
}

.nav-list a {
    padding: 8px;
    font-size: 18px;
    text-decoration: none;
    color: #4a4a4a;
}

a:hover {
    text-decoration: underline;
    color: goldenrod;
}

.logo {
    display: flex;
    font-size: 24px;
    color:#4a4a4a;
    margin-left: 24px;
    align-items: center;
    font-weight: 700;
}

.academy {
    color:#9b9b9b;
}

#mobile {
    height: 64px;
    margin-left: 24px;
    margin-right: 24px;
    display: none;
}

.learn {
    background-color: #d8d8d8;
    width: 100%;
    display: flex;
    align-items: center;
}

.learn-sentences {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    margin-right: 32px;
    width: 40%;
}

.banner {
    width: 55%;
    margin: 32px 24px;
}

h1 {
    font-size: 3.5rem;
    padding: 24px 24px;
    color:#4a4a4a;
}

h3 {
    color: #4a4a4a;
    padding: 24px 24px;
    font-size: 2rem;
}

button {
    padding: 8px 0;
    color: white;
    background-color:#4a4a4a;
    margin: 24px;
    font-size: 1.25rem;
}

button:hover {
    color: goldenrod;
    background-color: #383737;
}

p {
    color: #767777;
    margin-left: 24px;
    margin-bottom: 8px;
    font-size: 1rem;
}

.author {
    font-weight: bolder;
    margin-bottom: 24px;
    margin-top: 32px;
}

h2 {
    color: #4a4a4a;
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 24px;
    margin-bottom: 32px;

}

.practise {
    display: flex;
    margin-bottom: 32px;
}

.practise-cards {
    width: 40%;
    margin-left: 8px;
    margin-top: 24px;
}

.practise-img {
    width: 55%;
    margin-right: 40px;
}

.reading-man {
    margin: 32px 24px;
    width: 100%;
}

.flex-card {
    display: flex;
    align-items: center;
    padding: 24px;
    border-bottom: #d8d8d8 solid 1px;
    border-left: #d8d8d8 solid 1px;
}

.guest {
    background-color:#d8d8d8;
}

.inf-img {
    width: 35%;
}

.start {
    background-color: #d8d8d8;
}

.title {
    text-align: center;
    padding-top: 32px;
}

.start-cards-container {
    margin-left: 72px;
    margin-right: 72px;
    padding-bottom: 16px;
}

.three-cards {
    display: flex;
}

.card {
    background-color: white;
    margin: 24px;
    width: 30%;
    padding-bottom: 24px;
}

.card p {
    padding-right: 16px;
}

.card img {
    width: 100%;
    height: auto;
}

.start-mobile {
    display: none;
}

.exhibit-container {
    display: flex;
    width: 100%;
}

.video-and-text {
    width: 55%;
    margin-right: 40px;
}

.video {
    margin: 32px 24px;
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 16px 24px;
}

footer a {
    color:#767777;
    text-decoration: none;
    padding-left: 24px;
}

@media only screen and (max-width: 700px) {
    #mobile {
        display: flex;
    }

    #desktop {
        display: none;
    }

    .learn {
        display: flex;
        flex-flow: wrap;
    }

    .banner {
        width: 100%;
    }

    .learn-sentences {
        width: 100%;
    }

    h1 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .practise-img {
        display: none;
    }

    .practise-cards {
        width: 100%;
    }

    .flex-card {
        display: flex;
        flex-flow: wrap;
    }

    .inf-img {
        display: inline-block;
        width: 100%;
        height: auto;
    }

    .guest {
        background-color: white;
    }

    .guest img {
        width: 100%;
        display: inline-block;
    }

    h2 {
        font-size: 2rem;
    }

    .start {
        display: none;
    }

    .start-mobile {
        display: inherit;
        padding-bottom: 32px;
        border-bottom: #d8d8d8 solid 1px;
    }

    .title-m {
        text-align: center;
    }

    .exhibit-container .practise-cards {
        display: none;
    }

    .video-and-text {
        width: 100%;
    }
    .video {
        margin-top: 0;
    }

    .item-m {
        background-color: #d8d8d8;
        margin-bottom: 8px;
        margin-left: 16px;
        margin-right: 16px;

    }

    footer {
        font-size: smaller;
    }

    footer a {
        display: none;
    }
    
}